body {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  color: black;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

/* Style the tab */
/* .tabmenu {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
} */

/* Style the buttons that are used to open the tab content */
.tabmenu button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabmenu button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tabmenu button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
