body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.navbar {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  padding: 10px;
}

.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.item-result {
  flex-grow: 2;
  flex-shrink: 3;
  flex-basis: auto;
}

span.addFavourite {
  color: #29539b;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}
span.addFavourite.favourite {
  color: red;
}

.navbar-item,
.navbar-burger > span {
  color: white;
}

.brand {
  font-size: larger;
  vertical-align: middle;
}
.logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.favBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #4f554e;
  color: red;
}

#movie-results-container,
#movie-critics-tab-content,
#favourites-tab-content {
  font-weight: bolder;
}
